*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: system-ui, sans-serif;
  color: black;
  background-color: white;
}

h1 {
  font-weight: bold;
  font-size: 1.5rem;
}

form {
  width: 80%;
  height: 100%;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}

table td {
  display: flex;
  flex-direction: column;
  flex: 1;
}

table tr {
  gap: 10px;
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
}

table input {
  margin-top: 10px;
  border: none;
  border-radius: 4px;
  color: #282830;
  font-size: 1.6rem;
  background: #eff0f0;
  padding: 7px 6px 9px 16px;
}

.button {
  background-color: #0a6164;
  width: 100%;
  border-radius: 8px;
  border-style: none;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  font-size: 14px;
  height: 40px;
  padding: 10px 16px;
  transition: all 0.4s ease;
}

.button:hover,
.button:focus {
  background-color: #0a6164d8;
}
